@model adstra_task.Core.AuthorPost
@inject adstra_task.Data.IDataHelper<adstra_task.Core.Category> dataHelper

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>AuthorPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group"><label asp-for="UserId" class="control-label"></label>
                <input type="hidden" asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            
                
             
            <div class="form-group">
                <label asp-for="postCategory" class="control-label"></label>
                <select asp-for="postCategory" asp-items="new SelectList(dataHelper.GetAllData().Select(x=>x.Name))" class="form-control" />
                <span asp-validation-for="postCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostTitle" class="control-label"></label>
                <input asp-for="PostTitle" class="form-control" />
                <span asp-validation-for="PostTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostDescraption" class="control-label"></label>
                <textarea asp-for="PostDescraption" class="form-control"></textarea>
                <span asp-validation-for="PostDescraption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostImageUrl" class="control-label"></label>
                <input asp-for="PostImageUrl" class="form-control" />
                <span asp-validation-for="PostImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input asp-for="@DateTime.Now" class="form-control" />
                <span asp-validation-for="AddedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <input asp-for="AuthorId" class="form-control" />
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
